# Nuxt 4 specific
.nuxt/
.output/
.nitro/
dist/

# Development / Local
.env
.env.*
!.env.example

# Node / Bun
node_modules/
bun.lockb
.npm
yarn-error.log

# Logs
logs
*.log
*.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db

# Testing
coverage/

# IDEs
.vscode/
.idea/

!GITHUB_PAGES_DEPLOY.txt
